#CHESS_SETTINGS, #CHESS_SETTINGS * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;

}
#CHESS_SETTINGS {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 30px;
	background: rgba(0,0,0,0.7);
	z-index: 100;
	padding: 50px;
	border-radius: 5px;
	width: 600px;
}
#CHESS_SETTINGS.compute {
	background: rgba(255,0,0,0.7);
}
#CHESS_SETTINGS.wait {
	background: rgba(0,100,0,0.7);
}
#CHESS_SETTINGS h1 {
	font-size: 22px;
	font-weight: normal;
}
#CHESS_SETTINGS a {
	font-size: 16px;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	border: 1px solid white;
	margin: 0 5px 5px 0;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease;
}
#CHESS_SETTINGS a:hover {
	box-shadow: 0 0 20px white;
}
#CHESS_SETTINGS a:active {
	background: rgba(0,0,0,0.5);
}
#CHESS_SETTINGS p {
	font-size: 16px;
}