#CHESS_SETTINGS, #CHESS_SETTINGS * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Segoe UI";
	color: white;

}
#CHESS_SETTINGS {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 50px;
	height: 200px;
	width: 500px;
	background: rgba(234,24,24,0.7);
	z-index: 100;
	padding: 50px;
	border-radius: 5px;
}
#CHESS_SETTINGS h1 {
	font-size: 22px;
	font-weight: normal;
	font-style: italic;
}
#CHESS_SETTINGS a {
	font-size: 16px;
	display: inline-block;
	font-weight: bold;
	padding: 5px;
	border: 1px solid white;
	margin: 0 5px 5px 0;
	border-radius: 5px;
	-webkit-transition: background 0.5s ease;
}
#CHESS_SETTINGS a:hover {
	background: red;
}
#CHESS_SETTINGS a:active {
	background: pink;
	-webkit-transition: 0s;
}